[submodule "submodules/Profiler"]
	path = submodules/Profiler
	url = git@bitbucket.org:pjknowles/Profiler
[submodule "submodules/memory"]
	path = submodules/memory
	url = git@bitbucket.org:pjknowles/memory
[submodule "submodules/FCIdump"]
	path = submodules/FCIdump
	url = git@bitbucket.org:pjknowles/FCIdump
