.DS_Store
html/
latex/
*.out
*.user
*.o
*.exe
.qmake.stash
Makefile
molpro.d
molpro.xml
RSPT
*.dSYM
*.trace
callgrind.out*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeLists.txt.user*
.idea
cmake-build-debug
cmake-build-release
Testing
build
dependencies/*/
*_lockfile