[submodule "FCIdump"]
	path = FCIdump
	url = https://bitbucket.org/pjknowles/FCIdump
[submodule "ppidd"]
	path = ppidd
	url = https://bitbucket.org/pjknowles/ppidd
[submodule "symmetry_matrix"]
	path = symmetry_matrix
	url = git@bitbucket.org:pjknowles/symmetry_matrix
[submodule "IterativeSolver"]
	path = IterativeSolver
	url = git@bitbucket.org:pjknowles/IterativeSolver
